#l{
    margin-left: 600px;
}
#make{
    font-size: 50px;
    margin-top: 100px;
    padding-left: 70px;
}
#para{
    padding-left: 70px;
}
#bu{
    margin-left: 70px;
    background-color: black;
}
#img{
    height:450px;
    width: 450px;
    padding-right:65px;
    margin-top: 50px;

}
#img2{
    margin-left: 20px;
}
#img3{
    margin-left: 20px;
}
#img4{
    margin-left: 20px;
}